page-principal {
    

.toolbar-title {
  text-align: center !important;
}

.toolbar-title-md {
  text-align: center !important;
  padding-right: 40px;
}

    ion-card {
        position: relative;
        text-align: center;
      }
    
      .card-title {
        position: absolute;
        top: 36%;
        font-size: 2.0em;
        width: 100%;
        font-weight: bold;
        color: #fff;
        text-shadow: 1px 1px #464646;
      }

      button[ion-fab] {
        overflow: visible;
        position: relative;
    
        ion-label {
            position: absolute;
            top: -8px;
            right: 40px;
    
            color: white;
            background-color: rgba(0,0,0,0.7);
            line-height: 24px;
            padding: 4px 8px;
            border-radius: 4px;
        }
    }
    
    .fab{
        contain: layout;
    }



}
