// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.



.list-md .item-block .item-inner {
    border-bottom: 1px solid #dedede00;
}

.circle-pic{
    width:125px;
    height:125px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    top:-10px;
    bottom:10px;
    left:10px;
    right: 0px;
    padding:10px;
    position: relative;
}

.imgContainer{
    // background-color:black;
    // border-bottom: 1px solid #dedede8e;
    background: #005C97;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #363795, #005C97);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #363795, #005C97); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.toolbar-md, .toolbar-background-md, .toolbar-background-ios {
    background: #005C97;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #363795, #005C97);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4346f7, #005C97); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
}

.bar-button-default-ios, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default{
    color: white;
}
.toolbar-title {
    color: white;
  }
  
  .toolbar-title-md {
    color: white;
  }
  

.selectableMenu{
    padding-top: 25px;
    padding-left:10px;
}

// .fab-md-primary {
//     background-color: #E91E63;
// }

.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default{
    background-color: transparent;
    color: #ffffff;
}

ion-app.md [padding] .scroll-content {
    padding-top: 70px;
}

.infoContainer{
    color:white !important;
    width: 130px;
    display: inline-block;
    margin-left: 25px;
    top: -50px;
    position: relative;
    font-weight: bold;
}

.card-content-md {
    padding: 13px 16px;
    font-size: 1.4rem;
    line-height: 1.5;
    min-height: 100px;
}

.header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
    background-image: none;
}

.toolbar-title-md {
    color: white;
}

// ion-textarea {
//     &.200{
//         min-height: 200px;
//         textarea{
//             min-height: 200px;  
//         }
//     }
// }

 ion-textarea.h200 {
    textarea{
        min-height: 200px;
    }
 } 

 .filters{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    .select{
      margin: 0 5px;
      position: relative;
      background: white;
      border-radius: 5px;
      border: 1px solid #EDEFF1;
      padding: 5px 10px;
    }
  }